.main-nav {
  display: flex;
  padding: 1.5em 3em;
  font-size: 0.9em;
  z-index: 1000;
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  mix-blend-mode: difference;
}

.main-nav div a span {
  font-size: 1.2em;
  color: #fff;
}

.main-nav :first-child {
  flex-grow: 1;
}

.main-nav .a-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 1.5em;
}

.main-nav ul li .underline {
  width: 0;
  height: 1px;
  background-color: #ffffff;
  transition: width 0.08s ease-in-out;
}

.main-nav .a-box:hover .underline {
  width: 100%;
}
