.faqs-main {
  display: flex;
}

.faqs-main section:first-child {
  width: 55%;
}

.faqs-main section:first-child img {
  width: 100%;
  background-color: rgb(125, 125, 125);
  height: 600px;
}

.faqs-main section:nth-child(2) {
  width: 45%;
  padding: 10em 6em 5em 6em;
  box-sizing: border-box;
}

.faqs-main section:nth-child(2) .about-text-wrap {
  mix-blend-mode: difference;
  max-width: 400px;
}

.faqs-main section:nth-child(2) .about-text-wrap h1 {
  margin-bottom: 1em;
  font-family: "Suisse-Works-Regular";
  font-size: 1.8em;
  color: #fff;
}

.faqs-main section:nth-child(2) .about-text-wrap h5 {
  text-decoration: underline;
  font-size: 0.8em;
  color: #fff;
}

.faqs-main section:nth-child(2) .about-text-wrap p {
  margin-bottom: 1em;
  font-size: 0.8em;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .faqs-main {
    flex-direction: column-reverse;
  }
  .faqs-main section:first-child {
    width: 100%;
  }  
  .faqs-main section:nth-child(2) {
    width: 100%;
    padding: 7em 1em 2em 1em;
    box-sizing: border-box;
  }
  .faqs-main section:first-child img {
    height: 400px;
  }
  .faqs-main section:nth-child(2) .about-text-wrap p {
    margin-bottom: 1em;
  }
  .faqs-main section:nth-child(1) {
    padding: 0;
    box-sizing: border-box;
  }
}